* text=auto !eol
action/nospam_confirm_action.php -text
css/nospam-checkbox.css -text
css/nospam-checkbox.min.css -text
images/nospam-32.png -text
images/nospam-64.png -text
images/nospam-xx.svg -text
inc/detecter_langue.php -text
inc/nospam.php -text
inc/nospam_encrypt.php -text
inclure/nobot.html -text
lang/nospam.xml -text
lang/nospam_ar.php -text
lang/nospam_de.php -text
lang/nospam_en.php -text
lang/nospam_es.php -text
lang/nospam_fa.php -text
lang/nospam_fr.php -text
lang/nospam_fr_tu.php -text
lang/nospam_nl.php -text
lang/nospam_pt_br.php -text
lang/nospam_sk.php -text
lang/paquet-nospam.xml -text
lang/paquet-nospam_ar.php -text
lang/paquet-nospam_de.php -text
lang/paquet-nospam_en.php -text
lang/paquet-nospam_es.php -text
lang/paquet-nospam_fr.php -text
lang/paquet-nospam_fr_tu.php -text
lang/paquet-nospam_it.php -text
lang/paquet-nospam_nl.php -text
lang/paquet-nospam_pt_br.php -text
lang/paquet-nospam_sk.php -text
nospam/verifier_formulaire_ecrire_auteur.php -text
nospam/verifier_formulaire_forum.php -text
nospam/verifier_formulaire_signature.php -text
/nospam_pipelines.php -text
/paquet.xml -text
