* text=auto !eol
action/dupliquer_formulaire.php -text
action/editer_formulaire.php -text
action/exporter_formulaire.php -text
action/formidable_recuperer_export.php -text
action/formidable_recuperer_fichier.php -text
action/formidable_recuperer_fichier_par_email.php -text
action/supprimer_formulaire.php -text
action/supprimer_formulaires_reponse.php -text
action/vider_formulaire.php -text
base/formidable_tables.php -text
corbeille/formulaires_pre_suppression.php -text
corbeille/formulaires_reponses_pre_suppression.php -text
css/formidable_analyse.css.html -text
echanger/formulaire/forms.php -text
echanger/formulaire/wcs.php -text
echanger/formulaire/yaml.php -text
exec/puce_statut_formulaires.php -text
/formidable_administrations.php -text
/formidable_autorisations.php -text
/formidable_fonctions.php -text
/formidable_pipelines.php -text
formulaires/configurer_formidable.html -text
formulaires/editer_formulaire.html -text
formulaires/editer_formulaire.php -text
formulaires/editer_formulaire_champs.html -text
formulaires/editer_formulaire_champs.php -text
formulaires/editer_formulaire_traitements.html -text
formulaires/editer_formulaire_traitements.php -text
formulaires/exporter_formulaire_analyse.html -text
formulaires/exporter_formulaire_analyse.php -text
formulaires/exporter_formulaire_reponses.html -text
formulaires/exporter_formulaire_reponses.php -text
formulaires/formidable.html -text
formulaires/formidable.php -text
formulaires/importer_formulaire.html -text
formulaires/importer_formulaire.php -text
formulaires/inc-formidable-boutons.html -text
genie/formidable_effacer_enregistrements.php -text
genie/formidable_effacer_fichiers_email.php -text
genie/formidable_hasher_ip.php -text
http/collectionjson/formulaires-ressource.html -text
http/collectionjson/formulaires.html -text
http/collectionjson/formulaires_reponses-ressource.html -text
http/collectionjson/formulaires_reponses.html -text
http/collectionjson/formulaires_reponses.php -text
http/collectionjson/inc-formulaire.html -text
http/collectionjson/inc-formulaires_reponse.html -text
icones_barre/formulaire.png -text
images/formidable-128.png -text
images/formidable-24.png -text
images/formidable-64.png -text
images/formidable.svg -text
images/formulaire-24.png -text
images/formulaire-action-ajouter.png -text
images/formulaire-analyse-24.png -text
images/formulaire-config-auteurs-24.png -text
images/formulaire-config-champs-24.png -text
images/formulaire-config-traitements-24.png -text
images/formulaire-dupliquer-24.png -text
images/formulaire-editer-24.png -text
images/formulaire-exporter-24.png -text
images/formulaire-nouveau-48.png -text
images/formulaire-reponse-24.png -text
images/formulaire-reponse-supprimer-24.png -text
images/formulaire-reponses-24.png -text
images/formulaire-reponses-exporter-24.png -text
images/formulaire-reponses-supprimer-24.png -text
images/formulaire-supprimer-24.png -text
inc/formidable.php -text
inc/formidable_fichiers.php -text
inc/formidable_migrer_depuis_ft.php -text
inc/rechercher_joints_formulaires_reponse_formulaires_reponses_champ.php -text
lang/formidable.xml -text
lang/formidable_ar.php -text
lang/formidable_de.php -text
lang/formidable_en.php -text
lang/formidable_es.php -text
lang/formidable_fr.php -text
lang/formidable_it.php -text
lang/formidable_pt_br.php -text
lang/formidable_ru.php -text
lang/formidable_sk.php -text
lang/formulaire.xml -text
lang/formulaire_en.php -text
lang/formulaire_fr.php -text
lang/formulaire_pt_br.php -text
lang/formulaire_ru.php -text
lang/formulaires_reponse.xml -text
lang/formulaires_reponse_en.php -text
lang/formulaires_reponse_fr.php -text
lang/formulaires_reponse_pt_br.php -text
lang/paquet-formidable.xml -text
lang/paquet-formidable_en.php -text
lang/paquet-formidable_es.php -text
lang/paquet-formidable_fr.php -text
lang/paquet-formidable_pt_br.php -text
modeles/form.html -text
modeles/formidable.html -text
modeles/formulaire_aide_memoire.html -text
modeles/formulaire_analyse.html -text
modeles/formulaire_formidable.yaml -text
modeles/formulaires_reponse.html -text
noisettes/formulaire_formidable.html -text
noisettes/formulaire_formidable.yaml -text
notifications/formulaire_accuse.html -text
notifications/formulaire_email.html -text
/paquet.xml -text
prive/listes/corbeille_formulaires.html -text
prive/listes/corbeille_formulaires_reponses.html -text
prive/objets/contenu/formulaire.html -text
prive/objets/contenu/formulaires_reponse.html -text
prive/objets/infos/formulaire.html -text
prive/objets/infos/formulaires_reponse.html -text
prive/objets/liste/formulaires.html -text
prive/objets/liste/formulaires_associer.html -text
prive/objets/liste/formulaires_associer_fonctions.php -text
prive/objets/liste/formulaires_lies.html -text
prive/objets/liste/formulaires_lies_fonctions.php -text
prive/objets/liste/formulaires_reponses.html -text
prive/squelettes/contenu/configurer_formidable.html -text
prive/squelettes/contenu/formulaire.html -text
prive/squelettes/contenu/formulaire_edit.html -text
prive/squelettes/contenu/formulaires.html -text
prive/squelettes/contenu/formulaires_analyse.html -text
prive/squelettes/contenu/formulaires_reponse.html -text
prive/squelettes/contenu/formulaires_reponse_edit.html -text
prive/squelettes/contenu/formulaires_reponses.html -text
prive/squelettes/extra/formulaire.html -text
prive/squelettes/extra/formulaire_edit.html -text
prive/squelettes/extra/formulaires_analyse.html -text
prive/squelettes/extra/formulaires_reponses.html -text
prive/squelettes/hierarchie/formulaire.html -text
prive/squelettes/hierarchie/formulaire_edit.html -text
prive/squelettes/hierarchie/formulaires.html -text
prive/squelettes/hierarchie/formulaires_analyse.html -text
prive/squelettes/hierarchie/formulaires_reponse.html -text
prive/squelettes/hierarchie/formulaires_reponse_edit.html -text
prive/squelettes/hierarchie/formulaires_reponses.html -text
prive/squelettes/inclure/formulaires_lies.html -text
prive/squelettes/inclure/formulaires_reponses-filtres.html -text
prive/squelettes/navigation/formulaire.html -text
prive/squelettes/navigation/formulaire_edit.html -text
prive/squelettes/navigation/formulaires.html -text
prive/squelettes/navigation/formulaires_analyse.html -text
prive/squelettes/navigation/formulaires_reponse.html -text
prive/squelettes/navigation/formulaires_reponse_edit.html -text
prive/squelettes/navigation/formulaires_reponses.html -text
prive/style_prive_plugin_formidable.html -text
prive/themes/basic/images/formulaire-16.png -text
prive/themes/spip/images/formulaire-16.png -text
prive/themes/spip/images/formulaire-24.png -text
prive/themes/spip/images/formulaire-new-16.png -text svneol=unset#unset
prive/themes/spip/images/formulaires_reponse-24.png -text
public/formidable_criteres.php -text
puce_statut/formulaires_reponse.php -text
saisies-analyses/_base.html -text
saisies-analyses/auteurs.html -text
saisies-analyses/case.html -text
saisies-analyses/checkbox.html -text
saisies-analyses/choix_grille.html -text
saisies-analyses/destinataires.html -text
saisies-analyses/explication.html -text
saisies-analyses/fichiers.html -text
saisies-analyses/fieldset.html -text
saisies-analyses/oui_non.html -text
saisies-analyses/radio.html -text
saisies-analyses/selecteur_article.html -text
saisies-analyses/selecteur_rubrique.html -text
saisies-analyses/selecteur_rubrique_article.html -text
saisies-analyses/selection.html -text
saisies-analyses/selection_multiple.html -text
saisies-vues/formulaire_formidable.html -text
saisies-vues/formulaire_formidable_multiple.html -text
saisies/champ.html -text
saisies/formulaire_formidable.html -text
saisies/formulaire_formidable_multiple.html -text
spip-cli/FormidableExporterFormulaire.php -text
/todo.txt -text
traiter/email.php -text
traiter/email.yaml -text
traiter/enregistrement.php -text
traiter/enregistrement.yaml -text
